{% extends 'base.html' %}

{% block content %}
    <h1> 회원가입 정보기입 </h1>

    <form action="" method="GET">
        <label for="username">이름:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="user_ID">아이디:</label>
        <input type="text" id="user_ID" name="user_ID" required><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="nickname">닉네임:</label>
        <input type="nickname" id="nickname" name="nickname" required><br>

        <input type="submit" value="회원가입하기">




    </form>
{% endblock content %}