{% extends 'base.html' %}

{% block content %}
<h1>{{ member.username }}의 프로필 페이지</h1>

<div>
    <h2>username : {{ member.username }}</h2>
    <h2>가입일 : {{ member.date_joined }}</h2>
    <p>
        팔로워 : {{ member.followers.count }}명
        팔로잉 : {{ member.following.count }}명
    </p>
</div>

<div>
    {% if request.user != member %}
    <form action="{% url 'user:follow' member.pk %}" method="POST">
        {% csrf_token %}
        {% if user in member.followers.all %}
        <button type="submit">언팔로우</button>
        {% else %}
        <button type="submit">팔로우</button>
        {% endif %}
    </form>
    {% endif %}
</div>
<div>
    <h2>내가 등록한 물품들</h2>
    <ul>
        {% for article in articles %}
        <li>
            <a href= {% url "products:post_detail" article.id %}>
                {{ article.title }} (등록일 : {{article.created_at}})
            </a>
        </li>
        {% endfor %}
    </ul>
    <h2>내가 찜한 물품들</h2>
    <ul>
        {% for like_article in like_articles %}
        <li>
            <a href= {% url "products:post_detail" like_article.id %}>
                {{ like_article.title }} (등록일 : {{like_article.created_at}})
            </a>
        </li>
        {% endfor %}
    </ul>

</div>

<a href="{% url 'accounts:homepage' %}">홈으로 돌아가기</a>
{% endblock content %}