{% extends 'base.html' %}

{% block content %}
<h1>    상품들 </h1>

<!-- 정렬 선택  -->
<form method="get" action="{% url 'products:products' %}">
    <label for="sort">정렬 기준:</label>
    <select name="sort" id="sort">
        <option value="-created_at">최신순</option>
        <option value="-like_users">인기도순</option>
    </select>
    <button type="submit">정렬</button>
</form>

<!-- 로그인되어있으면 새로운 글 작성 -->
{% if request.user.is_authenticated %}     
<a href="{% url 'products:post_upload' %}">
<button>새로운 글 작성</button>
</a>
<!-- 로그아웃되어있으면 로그인하고 글 작성 -->
{% else %}
<a href="{% url 'accounts:login' %}"><button>로그인하고 글 작성하기</button></a>
{% endif %}

{% for article in articles %}
<a href="{% url 'products:post_detail' article.pk%}">
    <p>[ {{article.id}} ]{{article.title}} </p>
</a>

{% endfor %}
<form action="{% url 'products:search' %}">
    <input type="text" name='message'>
    <button type="submit">검색</button>
    
    </form>
{% endblock content %}